.slider {
  padding: 20px;
}

.slickSlider {
  padding: 10px;
}

.carouselHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 76px;
  margin-bottom: 80px;
}

.title {
  cursor: pointer;
  font-family: 'Benzin';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.arrowLeft,
.arrowRight {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
}

.arrowLeft {
  background: url('@icon/arrow-slider-left.svg') no-repeat center;
}

.arrowRight {
  background: url('@icon/arrow-slider-right.svg') no-repeat center;
}

.slick-slider {
  display: flex;
  justify-content: center;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
}
