@import '@/ui/Typography/_typographyMixins.scss';

.container {
  width: 100%;
  padding: 100px 180px;
}

.title {
  margin-top: 0;
  text-align: center;
}

.navmenu {
  width: 100%;
  font-family: 'Benzin';
  background-color: #e8e3e3;
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  margin: 32px 0 60px;
}

.arrow {
  min-height: 24px;
  min-width: 24px;
  background-image: url('@icon/arrowWhite.svg');
}

.button {
  font-family: 'Benzin';
  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  column-gap: 5px;
  margin: 0;
  padding: 25px 65px;
}

.item {
  @include font-benzin-medium(24px);
  line-height: 36px;
  border: none;
  background-color: transparent;
  padding: 11px 40px;
}

.itemActive {
  background-color: #0d0b13;
  color: white;
  height: 40%;
  align-self: center;
}

.columnTitle {
  @include font-benzin-bold(24px);
  line-height: 36px;
  text-align: left;
}

.string {
  @include font-benzin-medium(20px);
  line-height: 32px;
}

tbody {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: 10px;
  }
}

.link {
  color: #0d0b13;
}

.linkGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}
