.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 80px;
  z-index: 1000;
}

.button {
  background-color: #fcfcfc;
  border: #0d0b13 solid 1px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.arrowUp {
  width: 24px;
  height: 24px;
  fill: #0d0b13;
}
