.footer {
    padding: 100px 0 120px;
    background-color: black;
    display: flex;
    column-gap: 24px;
    font-weight: 400;
    color: white;
    width: 100%;
    justify-content: center;
}

.columns {
    display: flex;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    max-width: 400px;
}

.column {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 32px;
}

.logo {
    max-height: 52px;
}

.text {
    font-size: 16px;
    padding: 8px 12px;
}

.mail {
    font-size: 16px;
    color: white;
    padding: 8px 12px;
    opacity: 1;
    transition: opacity 0.4s;
}

.mail:hover {
    opacity: 0.6;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.button {
    text-decoration: none;
    font-family: 'benzin';
    font-size: 24px;
    font-weight: 500;
    line-height: 18px;
    color: black;
    min-width: 400px;
    min-height: 68px;
    border: 0;
    padding: 0;
    margin-top: 32px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.6s, color 0.4s, font-weight 0.4s;
}

.button:hover {
    color: white;
    background-color: black;
    border: solid 2px white;
}

.button:active {
    font-weight: 700;
    border: solid 2px white;
}

.title {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 12px;
}

.subtitle {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 12px;
}

.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    max-width: 124px;
    min-height: 48px;
}

.link {
    min-width: 40px;
    min-height: 40px;
    object-fit: cover;
    margin: auto 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s;
}

.link:hover {
    opacity: 0.6;
}

.docs {
    list-style-type: none;
    margin: 8px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.doc {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.4s;
}

.doc:hover {
    opacity: 0.6;
}

.element {
    display: flex;
    flex-direction: column;
}