@import '../Typography/typographyMixins';

.button {
  @include font-benzin-medium(16);
  line-height: 20px;
  background-color: #df544d;
  padding: 25px 40px;
  border: none;
  font-size: 24px;
  font-weight: 500;
}

.button:hover {
  background-color: #b73b34;
  cursor: pointer;
}

.button:active {
  @include font-benzin-bold(16);
}
