.button {
  font-family: 'Benzin', sans-serif;
  font-weight: 500;
  background-color: #df544d;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #b73b34;
}

.button:active {
  font-weight: 700;
}
