.aboutUs {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  position: relative;
}

.background {
  opacity: 0.5;
  min-height: 800px;
  background-image: url('../../assets/image/imageAbout.png');
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.background:hover {
  filter: grayscale(0%);
}

.title {
  hyphens: manual;
  max-width: 1207px;
  margin: 0;
  text-align: center;
  z-index: 5;
  position: absolute;
  top: 200px;
  left: calc(50% - 1207px/2);
}