.team {
  margin: 0 100px;
}

.title {
  margin: 0 0 32px;
  padding: 8px 12px;
}

.buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 40px;
}

.button {
  cursor: pointer;
  padding: 10px 26px;
  background-color: inherit;
  color: black;
  font-family: 'Benzin';
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  border: solid 1px black;
  transition: color linear 0.2s, background-color linear 0.2s;
}

.button:hover {
  background-color: black;
  color: white;
}

.buttonActive {
  padding: 10px 22px;
  background-color: black;
  color: white;
  font-weight: 700;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.listSlider {
  padding: 0;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin: 0 0 20px;
}

.arrowLeft,
.arrowRight {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
}

.arrowLeft {
  background: url('@icon/arrow-slider-left.svg') no-repeat center;
}

.arrowRight {
  background: url('@icon/arrow-slider-right.svg') no-repeat
    center;
}
