.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  height: 80vw;
  width: 80vw;
  max-width: 1440px;
  max-height: 833px;
  background: #d9d9d9;
  padding: 84px 110px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 110px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.personalDataBlock {
  width: 50%;
}

.contactBlock {
  width: 50%;
}

.passportBlock {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-content: flex-start;
}

.buttonBlock {
  width: 50%;
  display: flex;
  row-gap: 9px;
  flex-direction: column;
}

.dataGrid {
  display: grid;
  grid-template-areas:
    'fullName fullName'
    'birthDate city'
    'region region';
  column-gap: 24px;
  row-gap: 18px;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

.dataGrid input[name='fullName'] {
  grid-area: fullName;
}

.dataGrid input[name='birthDate'] {
  grid-area: birthDate;
}

.dataGrid input[name='city'] {
  grid-area: city;
}

.dataGrid select[name='region'] {
  grid-area: region;
  padding-left: 10px;
}

.dataGrid select[name='region']::pla {
  grid-area: region;
  padding-left: 10px;
}

::placeholder {
  font-family: 'Benzin';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
}

.fieldSets {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.contactFlex {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  border: none;
  padding: 0;
}

.passportFieldset {
  border: none;
  padding: 0;
  display: flex;
  gap: 18px;
}

.serie {
  width: 30%;
}

.number {
  width: 60%;
}

.date {
  max-width: 280px;
}

.buttonFieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input {
  min-height: 89px;
  width: 100%;
  border: #000 solid 1px;
  font-family: 'Benzin';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
  padding-left: 10px;
}

input[type="date"] {
  color: #333333;
}

.region {
  min-height: 89px;
  font-family: 'Benzin';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
  background-color: white;
  border: 1px solid black;
}

.button {
  margin-top: 9px;
  max-width: 400px;
  background-color: #df544d;
  padding: 25px 40px;
  color: black;
  font-family: 'Benzin';
  font-size: 24px;
  line-height: 17px;
  border: none;
}

.button:hover {
  background-color: #b73b34;
  cursor: pointer;
}

.button:active {
  font-weight: 700;
}

.disclaimer {
  max-width: 420px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #000;
  opacity: 0.5;
  padding: 10px;
}
