.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  max-width: 70vw;
  max-height: 60vh;
  background: #d9d9d9;
  padding: 80px 100px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.personalDataBlock {
  width: 50%;
}

.contactBlock {
  width: 50%;
}

.passportBlock {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-content: flex-start;
}

.buttonBlock {
  width: 50%;
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.dataGrid {
  display: grid;
  grid-template-areas:
    'fullName fullName'
    'birthDate city'
    'region region';
  gap: 18px;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}

.dataGrid input[name='fullName'] {
  grid-area: fullName;
}

.dataGrid input[name='birthDate'] {
  grid-area: birthDate;
}

.dataGrid input[name='city'] {
  grid-area: city;
}

.dataGrid select[name='region'] {
  grid-area: region;
}

::placeholder {
  font-family: 'Benzin';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
  padding: 10px;
}

.fieldSets {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}

.contactFlex {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  border: none;
  padding: 0;
}

.passportFieldset {
  border: none;
  padding: 0;
  display: flex;
  gap: 18px;
}

.serie {
  width: 30%;
}

.number {
  width: 60%;
}

.date {
  max-width: 280px;
}

.buttonFieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input {
  width: 100%;
  min-height: 48px;
  border: #000 solid 1px;
  font-family: 'Benzin';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
}

.region {
  min-height: 48px;
  font-family: 'Benzin';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #333333;
}

.button {
  width: 70%;
}

.disclaimer {
  width: 75%;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #000;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .modal {
    padding: 60px 40px;
  }

  .fieldSets {
    flex-direction: row;
    column-gap: 24px;
  }

  .personalDataBlock,
  .contactBlock,
  .passportBlock,
  .buttonBlock {
    width: 48%;
  }

  .dataGrid {
    grid-template-areas:
      'fullName fullName'
      'birthDate city'
      'region region';
  }

  .button {
    width: 70%;
    font-size: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .modal {
    padding: 80px 60px;
  }

  .personalDataBlock,
  .contactBlock,
  .passportBlock,
  .buttonBlock {
    width: 50%;
  }
}
