.card {
  display: flex;
  flex-direction: column;
  border: 1px #000000 solid;
  max-width: 396px;
}

.image {
  padding: 0;
  max-width: 396;
  filter: grayscale(100%);
  transition: filter 0.3s ease;

  &:hover {
    filter: grayscale(0%);
  }
}

.title {
  font-size: 24px;
  line-height: 36px;
  padding: 0 12px;
  margin: 42px 0 22px;
}

.location {
  padding: 0 12px;
  margin: 12px 0 28px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
}

.timeframe {
  font-size: 12px;
  line-height: 18px;
  padding: 0 12px;
  margin: 12px 0;
}

.progressContainer {
  padding: 0 12px;
  margin: 24px 0;
}

.progress {
  background-color: #6a6b63;
  border-radius: 8px;
  height: 8px;
  position: relative;
  flex-grow: 1;
}

.progressBar {
  background-color: #1f5b9c;
  border-radius: 8px;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}

.numbersContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  font-family: 'Benzin';
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #df544d;
  margin: 40px 12px 32px;
  padding: 25px 40px;
}

.button:hover {
  background-color: #b73b34;
  cursor: pointer;
}

.buttonLearnMore {
  font-family: 'Benzin';
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0 0 32px;
}
