.card {
  display: flex;
  flex-direction: column;
  border: 1px #000000 solid;
  margin-left: 30px;
  min-height: 430px;
}

.navLink {
  text-decoration: none;
  color: #0d0b13;
}

.image {
  width: 100%;
  height: 480px;
  padding: 0;
  filter: grayscale(100%);
  transition: filter 0.3s ease;

  &:hover {
    filter: grayscale(0%);
  }
}

.title {
  font-size: 24px;
  line-height: 36px;
  padding: 0 12px;
  margin: 42px 0 22px;
}

.paragrapgs {
  height: 314px;
}

.location {
  padding: 0 12px;
  margin: 12px 0 28px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
}

.timeframe {
  font-size: 12px;
  line-height: 18px;
  padding: 0 12px;
  margin: 12px 0;
}

.progressContainer {
  padding: 0 12px;
  margin: 24px 0;
}

.progress {
  background-color: #6a6b63;
  border-radius: 8px;
  height: 8px;
  position: relative;
  flex-grow: 1;
}

.progressBar {
  background-color: #1f5b9c;
  border-radius: 8px;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}
.progressText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 12px 0 0;
}

.numbersContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: auto;
}

.button {
  margin: 0 12px;
}

.button:hover {
  background-color: #b73b34;
  cursor: pointer;
}

.buttonLearnMore {
  text-decoration: none;
  color: #0d0b13;
  font-family: 'Benzin';
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin: 32px 0 32px;
  cursor: pointer;
  text-align: center;
}
