.upcomingProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 200px;
}

.subTitle {
  font-family: 'Benzin';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  margin: 0 0 80px;
}

.cardList {
  margin: 100px 0;
}

.cardListHomePage {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.cardListHomePage div {
  max-width: 500px;
}
