.projects {
  max-width: 1280px;
  padding: 0 170px;
  margin: 0 0 200px;
}

.subTitle {
  font-family: 'Benzin';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  margin: 0 0 80px;
}

.cardList {
  display: flex;
  gap: 24px;
}
