.slider {
  margin: 0 0 100px;
}

.events {
  display: flex;
  flex-direction: row;
  gap: 24px;
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    padding: 0 10px;
  }
}

.title {
  margin: 0 0 120px;
  padding: 0;
  font-size: 80px;
  line-height: 108px;
  text-align: center;
  line-height: 110px;
}

.arrowLeft,
.arrowRight {
  background-color: #000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.arrowLeft {
  left: -35px;
}

.arrowRight {
  right: -35px;
}
