.item {
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 777px;
  background-color: white;
  border: solid 1px black;
  position: relative;
}

.linkEvents {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 397px;
}

.linkEvents:hover .more {
  text-decoration: underline;
}

.linkEvents:active .more {
  text-decoration: underline;
  font-weight: 500;
}

.linkEvents:disabled .more {
  color: #6a6b63;
}

.image {
  object-position: center;
  object-fit: cover;
  height: 254px;
  margin-bottom: 36px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.linkEvents:hover .image {
  filter: grayscale(0%);
}

.dateEvents {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 20px;
  margin-bottom: 12px;
}

.subtitle {
  text-align: start;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 10px 20px;
  margin: 0 0 12px;
}

.location {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  margin-bottom: 28px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  padding: 10px 20px;
  max-height: 228px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.more {
  font-size: 20px;
  line-height: 15px;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.upcoming {
  max-width: 1240px;
  margin: 200px auto;
}

.title {
  margin: 0 0 120px;
  padding: 0;
  font-size: 80px;
  line-height: 108px;
  text-align: center;
  line-height: 110px;
}

.events {
  display: flex;
  column-gap: 28px;
  min-height: 638px;
  max-width: 1135px;
}

.card {
  border: 1px solid black;
  display: flex;
  column-gap: 28px;
}

.imageBig:hover {
  filter: grayscale(0%);
}

.imageBig {
  object-fit: cover;
  max-width: 394px;
  height: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.imageSmall {
  object-fit: cover;
  max-width: 291px;
  min-height: 126px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.imageSmall:hover {
  filter: grayscale(0%);
}

.descriptionBig {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 390px;
  font-size: 12px;
  row-gap: 12px;
}

.date {
  padding: 10px;
  font-size: 12px;
}

.subtitleBig {
  padding: 21px 10px;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.subtitleSmall {
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

.text {
  padding: 10px;
  font-size: 16px;
}

.textBig {
  padding: 10px;
}

.link {
  padding: 10px;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.el {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  max-height: 321px;
}
