.playerWrapper {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 50vh;
  overflow: hidden;
}

.title {
  margin: 0 0 38px;
  padding: 0;
  font-size: 96px;
  text-align: left;
  line-height: 110px;
}

.video {
  opacity: 0.55;
  width: 100%;
  height: auto;
  aspect-ratio: 1.82;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: #b73b34;
  padding: 25px 40px;
  border: none;
  font-family: 'Benzin';
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  align-self: left;
}

.aboutTeam {
  font-style: medium;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.button:hover {
  background-color: #df544d;
  cursor: pointer;
}

.playIcon {
  width: 30px;
  height: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
  gap: 8px;
  display: flex;
  align-items: center;
  align-self: end;
  transform: translate(100%);
}
