.root {
    max-width: 1440px;
    min-height: 100vh;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Benzin', Arial, sans-serif;
    background-color: #FFF;
    color: #000;
}