@import '/node_modules/slick-carousel/slick/slick.css';
@import '/node_modules/slick-carousel/slick/slick-theme.css';
@import './ui//Typography/typographyMixins';

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
}

:root {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  @include H2-responsive();
}

h3 {
  @include H3-responsive();
}
