:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  color: #0d0b13;
  background-color: #fcfcfc;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1440px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
}
