.slider {
  margin: 0 0 100px;
  .carousel {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.courouselleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  max-height: 76px;
  margin: 0 auto 80px;
}

.title {
  font-family: 'Benzin';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
  align-self: flex-end;
}

.arrowLeft,
.arrowRight {
  width: 48px;
  height: 48px;
  border: none;
}

.arrowLeft {
  background: url('../../assets/icon/arrow-slider-left.svg') no-repeat center;
}

.arrowRight {
  background: url('../../assets/icon/arrow-slider-right.svg') no-repeat center;
}

.slick-list {
  margin: 0 -10px;
}

.slick-slide {
  padding: 0 10px;
}

.slick-track {
  display: flex;
  align-items: center;
}
